* {
    margin: 0;
    padding: 0;
    outline: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@font-face {
    font-family: par-font;
    src: url(../fonts/JF-regular.ttf);
}

@font-face {
    font-family: hed-bold;
    src: url(../fonts/JF-\ med.ttf);
}

@font-face {
    font-family: mine-hedding;
    src: url(../fonts/ge-tv.ttf);
}

$color: rgb(89, 198, 188);
$bot : rgb(255, 245, 104);
$tran :all 0.5s linear;
$boxshdow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);



body,
html {

    font-family: par-font;
}

.conter {
    width: 80%;
    margin: auto;
}

.art1 {
    // width: 290px;
    padding: 55px 55px 42px 35px;
    transition: $tran;

    &:hover {
        transform: scale(1.01) translate(10px, 10px);
        box-shadow: 0px 0px 20px 5px rgba(105, 107, 107, 0.4);
    }

    h2 {
        color: #fff;
        font-family: par-font;
        font-size: 24px;
        font-weight: normal;
    }

    p {
        color: #fff;
    }
}

.butt {
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    font-size: 24px;
    color: #014749;
    background-color: $bot;
    padding: 12px 50px;
    border-radius: 50px;
    transition: $tran;

    &:hover {
        background-color: transparent;
        color: $bot;
        border: 0.5px solid $bot;
    }

}


.ar-g {

    padding: 23px 26px;
    background-color: #fff;

    .p2 {
        i {
            font-size: 19px;
            color: $color;
        }

        span {
            font-size: 15px;
            color: #767676;
        }
    }

    h1 {
        color: #767676;
        font-size: 17px;
        font-family: hed-bold;
    }

    p {
        color: #999999;
    }

    a {
        &:hover {
            color: #027074;
        }

        @extend .butt;
        padding: 10px 50px;
        color: #505050;
    }

    .o {
        background-color: rgba(226, 215, 99, 0.9);
        padding: 6px 12px;
        font-size: 16px;
        position: absolute;
        top: 12px;
        left: 15px;
    }
}

.iu {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    li {
        padding: 12px;
        border: 1px solid #434343;
        border-radius: 50%;

        a {
            i {
                text-align: center;
                color: #797979;

                &:active {
                    color: #fff;
                }
            }
        }
    }
}

// stat hader
.main-hader {
    background-color: $color;

    .contenar {
        @extend .conter;
        animation-delay: 0.5s;

        // start nav
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .p1 {
                a {
                    img {
                        width: 230px;
                        padding: 5px;
                    }
                }
            }

            .p2 {
                ul {
                    list-style-type: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 40px;

                    li {
                        a {
                            color: #fff;
                            text-decoration: none;
                            font-size: 14.95px;
                            padding: 12px 20px;
                            border-radius: 50px;
                            transition: $tran;

                            &:hover {
                                background-color: $bot;
                                color: #014749;
                            }
                        }
                    }
                }

                @media (max-width : 1250px) {
                    ul {
                        display: none;
                    }
                }
            }

            .p3 {
                display: none;

                a {
                    i {
                        font-size: 35px;
                        color: #fff568;
                    }
                }
            }

            @media (min-width : 320px) and (max-width : 1250px) {
                .p3 {
                    display: block;
                }
            }
        }

        // end nav
    }
}

// end hader
// start sections
// start setion1 
.welcom-s {
    background-size: cover !important;
    width: 100%;

    .contenar1 {
        width: 80%;
        height: 100vh;
        margin: auto;
        border: 1px solid transparent;
        animation-delay: 0.5s;

        article {
            padding: 15px;

            h1 {
                font-family: mine-hedding;
                font-size: 51px;
                margin-top: 112px;
                color: #fff;
            }

            p {
                padding-top: 46px;
                width: 400px;
                color: #fff;
                font-size: 24px;
                line-height: 30px;
            }

            a {
                @extend .butt;

            }
        }

        @media (max-width : 991px) {
            article {
                text-align: center;
                padding: 10px;

                h1 {
                    font-family: mine-hedding;
                    font-size: 35px;
                    margin-top: 90px;
                }

                p {
                    font-size: 20px;
                    width: 350px;
                    line-height: 30px;
                    margin: auto;
                }

                a {
                    padding: 25px;
                    font-size: 20px;
                }
            }
        }

        @media (min-width : 320px) and (max-width : 1250px) {
            article {
                text-align: center;
                margin: auto;


                p {
                    margin: auto;
                     width: 315px;
                    font-size: 20px;
                    line-height: 30px;
                }

            }
        }


    }

}

// end setion1 
// start setion2 
.w-sc {
    margin-bottom: 78px;

    .contenar {
        margin-top: 90px;
        @extend .conter;
        display: flex;
        justify-content: right;

        .ar {
            @extend .art1;
        }

        @media (min-width : 320px) and (max-width : 1150px) {
            .ar {
                flex: auto;
                width: 100%;

                h2 {
                    font-size: 19px;
                }
            }
        }

        @media (min-width : 768px) and (max-width : 1200px) {
            .ar {
                flex: auto;
                width: 50%;

                h2 {
                    font-size: 19px;
                }
            }
        }

        .ar1 {
            background-color: rgb(45, 152, 162);

        }

        .ar2 {
            background-color: rgb(79, 197, 186);

        }

        .ar3 {
            background-color: rgb(235, 119, 76);

        }

        .ar4 {
            background-color: rgb(237, 191, 71);
        }
    }

    @media (min-width:320px) and (max-width: 767px) {
        .contenar {
            flex-direction: column;
        }
    }

    @media (min-width : 768px) and (max-width : 1200px) {

        .contenar {
            flex-wrap: wrap;
        }
    }

}

// end setion2
// start setion3 
.news-s {
    background-color: rgb(250, 250, 250);
    padding-bottom: 78px;

    .titel {
        margin-bottom: 54px;
        text-align: center;

        h1 {
            font-weight: normal;
            font-size: 24px;
            font-family: hed-bold;
            color: rgb(80, 80, 80);
        }

        p {
            font-size: 14px;
            font-family: par-font;
            color: $color;
        }

    }

    .ne {
        .contanar {
            width: 80%;
            margin: auto;

            .new {
                display: flex;
                // flex-wrap: wrap;
                gap: 19px;

                .n {
                    flex: 1;
                    position: relative;
                    box-shadow: $boxshdow;
                    transition: $tran;

                    &:hover {
                        transform: scale(1.01) translate(5px, 5px);
                    }

                    img {
                        object-fit: cover !important;
                        width: 100%;
                        height: 264px;
                    }

                    .ar {
                        @extend .ar-g;
                    }

                }

                @media (min-width: 320px) and (max-width: 991px) {
                    .n {
                        flex: auto;
                        width: 100%;
                    }


                }

                @media (min-width: 992px) and (max-width: 1200px) {
                    .n {
                        flex: auto;
                        width: 45%;
                    }
                }


            }

            @media (min-width: 320px) and (max-width: 991px) {
                .new {
                    flex-direction: column;
                }


            }

            @media (min-width: 992px) and (max-width: 1200px) {
                .new {

                    flex-wrap: wrap;
                }
            }

        }
    }
}

// end setion3
// start setion4 
.gols {
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 385px;
    position: relative;

    .bg-c {
        background-color: rgba(89, 198, 188, 0.6555);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;

        .contanar {
            width: 80%;
            margin: auto;

            .content {
                .hedd {
                    margin: 53px;
                    text-align: center;

                    h1 {
                        font-size: 24px;
                        margin-bottom: 5px;
                        color: #fff;
                    }

                    p {
                        font-size: 14px;
                        color: #fff;
                    }
                }

                .min-con {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 60px;

                    .con1 {
                        flex: 1;
                        display: flex;
                        gap: 30px;
                        justify-content: center;
                        align-items: center;
                        // img {

                        // }
                        .aro {
                            display: flex;
                            flex-direction: column;

                            h1 {
                                color: #fff;
                                font-size: 25px;
                            }

                            p {
                                color: #505050;
                                font-size: 19px;
                            }
                        }
                    }
                }

                @media (min-width: 320px) and (max-width: 991px) {
                    .min-con {
                        flex-direction: column;
                    }


                }

                @media (min-width: 992px) and (max-width: 1200px) {
                    .min-con {

                        flex-wrap: wrap;
                    }
                }
            }
        }

    }
}

@media (min-width: 320px) and (max-width: 1099px) {
    .gols {
        text-align: center !important;
        background-image: none !important;
        width: 100%;
        margin-bottom: 20px !important;

        .bg-c {
            height: auto;
            position: static;
            padding: 10px 0px;
            border-radius: 10px;
        }

        .gols .bg-c .contanar .content .hedd {
            margin: 0px;
        }
    }

}

// end setion4
// start setion5
.says {
    .conatn {
        margin: auto;
        width: 80%;
        margin-bottom: 90px;

        .hed {
            margin: 63px;
            text-align: center;

            h1 {
                font-size: 24px;
                margin-bottom: 5px;
                color: #505050;
            }

            p {
                font-size: 14px;
                color: #82d4cd;
            }
        }

        .content {

            padding: 20px 10px;
            display: flex;
            // width: 50%;
            flex-wrap: wrap;
            gap: 20px;

            .sc1 {
                margin: 20px;
                width: 45%;
                display: flex;
                gap: 30px;

                // .ima {}
                .arto {
                    background-color: #f9f9f9;
                    padding: 20px 10px;
                    border-radius: 5px;
                    position: relative;

                    &::before {
                        content: "";
                        border: 10px solid;
                        border-color: transparent transparent transparent #f9f9f9;
                        position: absolute;
                        top: 0px;
                        right: -20px;


                    }

                    h1 {
                        color: #3e3e3e;
                        font-size: 15px;
                        font-family: hed-bold;
                    }

                    p {
                        color: #676767;
                    }

                    ul {
                        list-style-type: none;
                        display: flex;
                        gap: 25px;

                        li {
                            i {
                                color: #82d4cd;
                            }
                        }
                    }
                }
            }

            @media (min-width: 320px) and (max-width: 1099px) {
                .sc1 {
                    margin: 30px;
                    display: grid;

                }
            }

        }
    }
}

@media (min-width: 320px) and (max-width: 1099px) {
    .says {
        margin-top: 350px;
    }
}

// end setion5
// start setion6
.contact {
    padding-top: 90px;
    background-color: #eef6f6;

    .contaer {

        width: 80%;
        margin: auto;

        .mmm {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;

            .im {
                flex: 3;

                img {
                    object-fit: cover !important;
                    background-position: center center;
                }
            }

            .contactto {
                width: 50%;
                background-color: #fff;
                flex: 1;
                height: 400px;
                display: flex;
                flex-direction: column;
                gap: 35px;
                padding: 20px;
                margin-bottom: 95px;
                border-radius: 15px;

                h1 {
                    font-size: 21px;
                    color: #a7a7a7;
                    font-weight: normal;
                }

                ul {
                    list-style-type: none;

                    li {
                        padding: 10px;

                        i {
                            color: #82d4cd;
                        }
                    }
                }
            }

            .canto {
                width: 50%;
                height: 400px;
                text-align: center;
                flex: 3;
                background-color: #Fff;
                padding: 25px 10px;
                margin-bottom: 95px;
                border-radius: 15px;

                h1 {
                    font-size: 21px;
                    font-weight: normal;
                    color: #525252;
                    margin-bottom: 27px;
                }

                p {
                    font-size: 14px;
                    color: #737373;
                    line-height: 1.7;
                }

                .meat1 {
                    .po1 {
                        display: inline-block;
                        padding: 12px 25px;
                        background-color: #fff568;
                        font-size: 11.95px;
                        border-radius: 15px;
                        margin-bottom: 12px;
                    }

                    .po2 {
                        display: inline-block;
                        padding: 12px 25px;
                        font-size: 13px;
                        border-radius: 15px;
                        margin-bottom: 12px;
                    }
                }


            }
        }

        @media (min-width:320px) and (max-width:767px) {
            .mmm {
                flex-direction: column;

                .im {
                    img {
                        width: 100% !important;
                    }
                }
                .canto{
                    .meat1 {
                    .po1 , .po2 {
                        display: block;
                    }
                }


                }  

                .im,
                .contactto,
                .canto {
                    flex: 1;
                    width: 100%;
                }
            }
        }
    }
}

// end setion6
// start setion7

.main {
    background-size: cover !important;
    height: 360px;
    position: relative;

    .bg1-c {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        .form {
            text-align: center;
            margin-top: 95px;

            form {
                width: 30%;
                margin: auto;
                padding: 10px 20px;
                background-color: #68bfb7;
                border-radius: 7px;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    border: 15px solid;
                    border-color: #68bfb7 transparent transparent transparent;
                    position: absolute;
                    bottom: -30px;
                    right: 170px;
                }

                input {
                    padding: 10px;
                    width: 550px;
                    border-radius: 7px;
                    border: 1px solid transparent;
                    text-align: center;

                }

                .buu {
                    background-color: #797979;
                    padding: 10px 17px;
                    border-radius: 5px;
                    text-align: center;
                    margin: auto;
                    transition: $tran;

                    &:hover {
                        transform: scale(0.9);
                    }
                }
            }
             @media (min-width:320px) and (max-width:767px) { 
                form {
                    width: 100%;
                }
             }
        }
    }

}

// end setion7
footer {
    text-align: center;
    padding: 65px;

    h1 {
        font-family: mine-hedding;
        font-size: 41px;
        color: #656565;
    }

    p {
        width: 790px;
        margin: auto;
        text-align: inherit;
    }

    @media (min-width: 320px) and (max-width: 1099px) {
        p {
            width: 100%;
        }
    }

    .ico {
        @extend.iu;
        padding-top: 50px;

        ul {
            .ic1 {
                transition: $tran;

                &:hover {
                    color: rgba(37, 211, 102);
                    border-color: rgba(37, 211, 102);
                    background-color: rgba(37, 211, 102);
                    transform: scale(0.9) translateX(5px);
                    box-shadow: 0px 0px 6px 5px rgba(37, 211, 102, 0.5);
                }

            }

            .ic2 {
                transition: $tran;

                &:hover {
                    color: rgba(24, 119, 242);
                    background-color: rgba(24, 119, 242);
                    border-color: rgb(24, 119, 242);
                    transform: scale(0.9) translateX(5px);
                    box-shadow: 0px 0px 6px 5px rgba(24, 119, 242, 0.5);
                }

            }

            .ic3 {
                transition: $tran;

                &:hover {
                    color: rgba(255, 0, 0);
                    border-color: rgba(255, 0, 0);
                    background-color: rgba(255, 0, 0);
                    transform: scale(0.9) translateX(5px);
                    box-shadow: 0px 0px 6px 5px rgba(255, 0, 0, 0.5);
                }

            }

            .ic4 {
                transition: $tran;

                &:hover {
                    color: rgba(195, 42, 163);
                    border-color: rgba(195, 42, 163);
                    background-color: rgba(195, 42, 163);
                    transform: scale(0.9) translateX(5px);
                    box-shadow: 0px 0px 6px 5px rgba(195, 42, 163, 0.5);
                }

            }

            .ic5 {
                transition: $tran;

                &:hover {
                    color: rgba(29, 161, 242);
                    border-color: rgba(29, 161, 242);
                    background-color: rgba(29, 161, 242);
                    transform: scale(0.9) translateX(5px);
                    box-shadow: 0px 0px 6px 5px rgba(29, 161, 242, 0.5);
                }
            }
        }
    }
}

// ================
.static {
    width: 50px;
    height: 50px;
    background-color: #68bfb7;
    position: fixed;
    text-align: center;
    top: 80%;
    right: 0px;
    transition: $tran;
    border-radius: 50px;
    opacity: 0;

    &:hover {
        transform: scale(0.9);
    }

    a {
        text-decoration: none;

        i {
            line-height: 50px;
            color: #fff;
            font-size: 20px;
            transition: $tran;


        }
    }
}