* {
  margin: 0;
  padding: 0;
  outline: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: par-font;
  src: url(../fonts/JF-regular.ttf);
}
@font-face {
  font-family: hed-bold;
  src: url(../fonts/JF-\ med.ttf);
}
@font-face {
  font-family: mine-hedding;
  src: url(../fonts/ge-tv.ttf);
}
body,
html {
  font-family: par-font;
}

.conter, .w-sc .contenar, .main-hader .contenar {
  width: 80%;
  margin: auto;
}

.art1, .w-sc .contenar .ar {
  padding: 55px 55px 42px 35px;
  transition: all 0.5s linear;
}
.art1:hover, .w-sc .contenar .ar:hover {
  transform: scale(1.01) translate(10px, 10px);
  box-shadow: 0px 0px 20px 5px rgba(105, 107, 107, 0.4);
}
.art1 h2, .w-sc .contenar .ar h2 {
  color: #fff;
  font-family: par-font;
  font-size: 24px;
  font-weight: normal;
}
.art1 p, .w-sc .contenar .ar p {
  color: #fff;
}

.butt, .welcom-s .contenar1 article a, .ar-g a, .news-s .ne .contanar .new .n .ar a {
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  font-size: 24px;
  color: #014749;
  background-color: rgb(255, 245, 104);
  padding: 12px 50px;
  border-radius: 50px;
  transition: all 0.5s linear;
}
.butt:hover, .welcom-s .contenar1 article a:hover, .ar-g a:hover, .news-s .ne .contanar .new .n .ar a:hover {
  background-color: transparent;
  color: rgb(255, 245, 104);
  border: 0.5px solid rgb(255, 245, 104);
}

.ar-g, .news-s .ne .contanar .new .n .ar {
  padding: 23px 26px;
  background-color: #fff;
}
.ar-g .p2 i, .news-s .ne .contanar .new .n .ar .p2 i {
  font-size: 19px;
  color: rgb(89, 198, 188);
}
.ar-g .p2 span, .news-s .ne .contanar .new .n .ar .p2 span {
  font-size: 15px;
  color: #767676;
}
.ar-g h1, .news-s .ne .contanar .new .n .ar h1 {
  color: #767676;
  font-size: 17px;
  font-family: hed-bold;
}
.ar-g p, .news-s .ne .contanar .new .n .ar p {
  color: #999999;
}
.ar-g a, .news-s .ne .contanar .new .n .ar a {
  padding: 10px 50px;
  color: #505050;
}
.ar-g a:hover, .news-s .ne .contanar .new .n .ar a:hover {
  color: #027074;
}
.ar-g .o, .news-s .ne .contanar .new .n .ar .o {
  background-color: rgba(226, 215, 99, 0.9);
  padding: 6px 12px;
  font-size: 16px;
  position: absolute;
  top: 12px;
  left: 15px;
}

.iu ul, footer .ico ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.iu li, footer .ico li {
  padding: 12px;
  border: 1px solid #434343;
  border-radius: 50%;
}
.iu li a i, footer .ico li a i {
  text-align: center;
  color: #797979;
}
.iu li a i:active, footer .ico li a i:active {
  color: #fff;
}

.main-hader {
  background-color: rgb(89, 198, 188);
}
.main-hader .contenar {
  animation-delay: 0.5s;
}
.main-hader .contenar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-hader .contenar nav .p1 a img {
  width: 230px;
  padding: 5px;
}
.main-hader .contenar nav .p2 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.main-hader .contenar nav .p2 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14.95px;
  padding: 12px 20px;
  border-radius: 50px;
  transition: all 0.5s linear;
}
.main-hader .contenar nav .p2 ul li a:hover {
  background-color: rgb(255, 245, 104);
  color: #014749;
}
@media (max-width: 1250px) {
  .main-hader .contenar nav .p2 ul {
    display: none;
  }
}
.main-hader .contenar nav .p3 {
  display: none;
}
.main-hader .contenar nav .p3 a i {
  font-size: 35px;
  color: #fff568;
}
@media (min-width: 320px) and (max-width: 1250px) {
  .main-hader .contenar nav .p3 {
    display: block;
  }
}

.welcom-s {
  background-size: cover !important;
  width: 100%;
}
.welcom-s .contenar1 {
  width: 80%;
  height: 100vh;
  margin: auto;
  border: 1px solid transparent;
  animation-delay: 0.5s;
}
.welcom-s .contenar1 article {
  padding: 15px;
}
.welcom-s .contenar1 article h1 {
  font-family: mine-hedding;
  font-size: 51px;
  margin-top: 112px;
  color: #fff;
}
.welcom-s .contenar1 article p {
  padding-top: 46px;
  width: 400px;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 991px) {
  .welcom-s .contenar1 article {
    text-align: center;
    padding: 10px;
  }
  .welcom-s .contenar1 article h1 {
    font-family: mine-hedding;
    font-size: 35px;
    margin-top: 90px;
  }
  .welcom-s .contenar1 article p {
    font-size: 20px;
    width: 350px;
    line-height: 30px;
    margin: auto;
  }
  .welcom-s .contenar1 article a {
    padding: 25px;
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width: 1250px) {
  .welcom-s .contenar1 article {
    text-align: center;
    margin: auto;
  }
  .welcom-s .contenar1 article p {
    margin: auto;
    width: 315px;
    font-size: 20px;
    line-height: 30px;
  }
}

.w-sc {
  margin-bottom: 78px;
}
.w-sc .contenar {
  margin-top: 90px;
  display: flex;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 1150px) {
  .w-sc .contenar .ar {
    flex: auto;
    width: 100%;
  }
  .w-sc .contenar .ar h2 {
    font-size: 19px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .w-sc .contenar .ar {
    flex: auto;
    width: 50%;
  }
  .w-sc .contenar .ar h2 {
    font-size: 19px;
  }
}
.w-sc .contenar .ar1 {
  background-color: rgb(45, 152, 162);
}
.w-sc .contenar .ar2 {
  background-color: rgb(79, 197, 186);
}
.w-sc .contenar .ar3 {
  background-color: rgb(235, 119, 76);
}
.w-sc .contenar .ar4 {
  background-color: rgb(237, 191, 71);
}
@media (min-width: 320px) and (max-width: 767px) {
  .w-sc .contenar {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .w-sc .contenar {
    flex-wrap: wrap;
  }
}

.news-s {
  background-color: rgb(250, 250, 250);
  padding-bottom: 78px;
}
.news-s .titel {
  margin-bottom: 54px;
  text-align: center;
}
.news-s .titel h1 {
  font-weight: normal;
  font-size: 24px;
  font-family: hed-bold;
  color: rgb(80, 80, 80);
}
@media (min-width: 320px) and (max-width: 991px) {
  .news-s .titel h1 {
    margin-top: 30px;
  }
}
.news-s .titel p {
  font-size: 14px;
  font-family: par-font;
  color: rgb(89, 198, 188);
}
.news-s .ne .contanar {
  width: 80%;
  margin: auto;
}
.news-s .ne .contanar .new {
  display: flex;
  gap: 19px;
}
.news-s .ne .contanar .new .n {
  flex: 1;
  position: relative;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear;
}
.news-s .ne .contanar .new .n:hover {
  transform: scale(1.01) translate(5px, 5px);
}
.news-s .ne .contanar .new .n img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
  height: 264px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .news-s .ne .contanar .new .n {
    flex: auto;
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .news-s .ne .contanar .new .n {
    flex: auto;
    width: 45%;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .news-s .ne .contanar .new {
    flex-direction: column;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .news-s .ne .contanar .new {
    flex-wrap: wrap;
  }
}

.gols {
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 100%;
  height: 385px;
  position: relative;
}
.gols .bg-c {
  background-color: rgba(89, 198, 188, 0.6555);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.gols .bg-c .contanar {
  width: 80%;
  margin: auto;
}
.gols .bg-c .contanar .content .hedd {
  margin: 53px;
  text-align: center;
}
.gols .bg-c .contanar .content .hedd h1 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #fff;
}
.gols .bg-c .contanar .content .hedd p {
  font-size: 14px;
  color: #fff;
}
.gols .bg-c .contanar .content .min-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.gols .bg-c .contanar .content .min-con .con1 {
  flex: 1;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.gols .bg-c .contanar .content .min-con .con1 .aro {
  display: flex;
  flex-direction: column;
}
.gols .bg-c .contanar .content .min-con .con1 .aro h1 {
  color: #fff;
  font-size: 25px;
}
.gols .bg-c .contanar .content .min-con .con1 .aro p {
  color: #505050;
  font-size: 19px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .gols .bg-c .contanar .content .min-con {
    flex-direction: column;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .gols .bg-c .contanar .content .min-con {
    flex-wrap: wrap;
  }
}

@media (min-width: 320px) and (max-width: 1099px) {
  .gols {
    text-align: center !important;
    background-image: none !important;
    width: 100%;
    margin-bottom: 20px !important;
  }
  .gols .bg-c {
    height: auto;
    position: static;
    padding: 10px 0px;
    border-radius: 10px;
  }
  .gols .gols .bg-c .contanar .content .hedd {
    margin: 0px;
  }
}
.says .conatn {
  margin: auto;
  width: 80%;
  margin-bottom: 90px;
}
.says .conatn .hed {
  margin: 63px;
  text-align: center;
}
.says .conatn .hed h1 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #505050;
}
.says .conatn .hed p {
  font-size: 14px;
  color: #82d4cd;
}
.says .conatn .content {
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.says .conatn .content .sc1 {
  margin: 20px;
  width: 45%;
  display: flex;
  gap: 30px;
}
.says .conatn .content .sc1 .arto {
  background-color: #f9f9f9;
  padding: 20px 10px;
  border-radius: 5px;
  position: relative;
}
.says .conatn .content .sc1 .arto::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent transparent #f9f9f9;
  position: absolute;
  top: 0px;
  right: -20px;
}
.says .conatn .content .sc1 .arto h1 {
  color: #3e3e3e;
  font-size: 15px;
  font-family: hed-bold;
}
.says .conatn .content .sc1 .arto p {
  color: #676767;
}
.says .conatn .content .sc1 .arto ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
}
.says .conatn .content .sc1 .arto ul li i {
  color: #82d4cd;
}
@media (min-width: 320px) and (max-width: 1099px) {
  .says .conatn .content .sc1 {
    margin: 30px;
    display: grid;
  }
}

@media (min-width: 320px) and (max-width: 1099px) {
  .says {
    margin-top: 350px;
  }
}
.contact {
  padding-top: 90px;
  background-color: #eef6f6;
}
.contact .contaer {
  width: 80%;
  margin: auto;
}
.contact .contaer .mmm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.contact .contaer .mmm .im {
  flex: 3;
}
.contact .contaer .mmm .im img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  background-position: center center;
}
.contact .contaer .mmm .contactto {
  width: 50%;
  background-color: #fff;
  flex: 1;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px;
  margin-bottom: 95px;
  border-radius: 15px;
}
.contact .contaer .mmm .contactto h1 {
  font-size: 21px;
  color: #a7a7a7;
  font-weight: normal;
}
.contact .contaer .mmm .contactto ul {
  list-style-type: none;
}
.contact .contaer .mmm .contactto ul li {
  padding: 10px;
}
.contact .contaer .mmm .contactto ul li i {
  color: #82d4cd;
}
.contact .contaer .mmm .canto {
  width: 50%;
  height: 400px;
  text-align: center;
  flex: 3;
  background-color: #Fff;
  padding: 25px 10px;
  margin-bottom: 95px;
  border-radius: 15px;
}
.contact .contaer .mmm .canto h1 {
  font-size: 21px;
  font-weight: normal;
  color: #525252;
  margin-bottom: 27px;
}
.contact .contaer .mmm .canto p {
  font-size: 14px;
  color: #737373;
  line-height: 1.7;
}
.contact .contaer .mmm .canto .meat1 .po1 {
  display: inline-block;
  padding: 12px 25px;
  background-color: #fff568;
  font-size: 11.95px;
  border-radius: 15px;
  margin-bottom: 12px;
}
.contact .contaer .mmm .canto .meat1 .po2 {
  display: inline-block;
  padding: 12px 25px;
  font-size: 13px;
  border-radius: 15px;
  margin-bottom: 12px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact .contaer .mmm {
    flex-direction: column;
  }
  .contact .contaer .mmm .im img {
    width: 100% !important;
  }
  .contact .contaer .mmm .canto .meat1 .po1, .contact .contaer .mmm .canto .meat1 .po2 {
    display: block;
  }
  .contact .contaer .mmm .im,
  .contact .contaer .mmm .contactto,
  .contact .contaer .mmm .canto {
    flex: 1;
    width: 100%;
  }
}

.main {
  background-size: cover !important;
  height: 360px;
  position: relative;
}
.main .bg1-c {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.main .bg1-c .form {
  text-align: center;
  margin-top: 95px;
}
.main .bg1-c .form form {
  width: 30%;
  margin: auto;
  padding: 10px 20px;
  background-color: #68bfb7;
  border-radius: 7px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .bg1-c .form form::before {
  content: "";
  display: block;
  border: 15px solid;
  border-color: #68bfb7 transparent transparent transparent;
  position: absolute;
  bottom: -30px;
  right: 170px;
}
.main .bg1-c .form form input {
  padding: 10px;
  width: 550px;
  border-radius: 7px;
  border: 1px solid transparent;
  text-align: center;
}
.main .bg1-c .form form .buu {
  background-color: #797979;
  padding: 10px 17px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  transition: all 0.5s linear;
}
.main .bg1-c .form form .buu:hover {
  transform: scale(0.9);
}
@media (min-width: 320px) and (max-width: 767px) {
  .main .bg1-c .form form {
    width: 100%;
  }
}

footer {
  text-align: center;
  padding: 65px;
}
footer h1 {
  font-family: mine-hedding;
  font-size: 41px;
  color: #656565;
}
footer p {
  width: 790px;
  margin: auto;
  text-align: inherit;
}
@media (min-width: 320px) and (max-width: 1099px) {
  footer p {
    width: 100%;
  }
}
footer .ico {
  padding-top: 50px;
}
footer .ico ul .ic1 {
  transition: all 0.5s linear;
}
footer .ico ul .ic1:hover {
  color: rgb(37, 211, 102);
  border-color: rgb(37, 211, 102);
  background-color: rgb(37, 211, 102);
  transform: scale(0.9) translateX(5px);
  box-shadow: 0px 0px 6px 5px rgba(37, 211, 102, 0.5);
}
footer .ico ul .ic2 {
  transition: all 0.5s linear;
}
footer .ico ul .ic2:hover {
  color: rgb(24, 119, 242);
  background-color: rgb(24, 119, 242);
  border-color: rgb(24, 119, 242);
  transform: scale(0.9) translateX(5px);
  box-shadow: 0px 0px 6px 5px rgba(24, 119, 242, 0.5);
}
footer .ico ul .ic3 {
  transition: all 0.5s linear;
}
footer .ico ul .ic3:hover {
  color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  transform: scale(0.9) translateX(5px);
  box-shadow: 0px 0px 6px 5px rgba(255, 0, 0, 0.5);
}
footer .ico ul .ic4 {
  transition: all 0.5s linear;
}
footer .ico ul .ic4:hover {
  color: rgb(195, 42, 163);
  border-color: rgb(195, 42, 163);
  background-color: rgb(195, 42, 163);
  transform: scale(0.9) translateX(5px);
  box-shadow: 0px 0px 6px 5px rgba(195, 42, 163, 0.5);
}
footer .ico ul .ic5 {
  transition: all 0.5s linear;
}
footer .ico ul .ic5:hover {
  color: rgb(29, 161, 242);
  border-color: rgb(29, 161, 242);
  background-color: rgb(29, 161, 242);
  transform: scale(0.9) translateX(5px);
  box-shadow: 0px 0px 6px 5px rgba(29, 161, 242, 0.5);
}

.static {
  width: 50px;
  height: 50px;
  background-color: #68bfb7;
  position: fixed;
  text-align: center;
  top: 80%;
  right: 0px;
  transition: all 0.5s linear;
  border-radius: 50px;
  opacity: 0;
}
.static:hover {
  transform: scale(0.9);
}
.static a {
  text-decoration: none;
}
.static a i {
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  transition: all 0.5s linear;
}/*# sourceMappingURL=style.css.map */